<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		 <title>Burger</title>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

<link href="https://fonts.googleapis.com/css?family=Lemon|Pompiere" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
       
			
	</head>
	<body>

		{{{ body }}}
 
  </body>
	</body>
</html>


